#main{width: 1350px;height: 460px;background-color:

    darkgreen;float: left;margin: -10px;}

   

    .indiv{width: 130px;height: 25px;margin-left: 750px;

     background-color:darkgreen;margin-top: -65px;}

     #search{width: 250px;height: 25px;margin-left: 650px;

     background-color:white;margin-top:35px;}

     #info1{color: darkgreen;margin-top: 5px;  margin-left: 7px;}

     #info2{color: darkgreen;margin-top: -58px;  margin-left: 70px;}

     #info3{ color: darkgreen;margin-top: -40px;  margin-left: 160px;}

     #info4{color: darkgreen;margin-top: -40px;  margin-left: 230px;}

     #info5{color: darkgreen;margin-top: -40px;  margin-left: 340px;}

     #info6{color: darkgreen;margin-top: -40px;  margin-left: 410px;}

     #info7{color: darkgreen;margin-top: -40px;  margin-left: 550px;}

     #info8{color: darkgreen;margin-top: -40px;  margin-left: 690px;}

     #info9{color: darkgreen;margin-top: -40px;  margin-left: 830px;}

     #backcolor{background-color:rgb(161, 219, 161);width: 1350px;

     height: 460px;float: left;margin: -22px;}

     #insidebackcolor{background-color: white;width:970px ;float: right;
     height:450px;margin-right:340px;}

     #inback{background-color:  rgb(94, 197, 94);width:620px;
     height:30px;margin: 15px;}

     #quicklinks{background-color: rgb(94, 197, 94);width:310px;

     height:30px;float:right;margin-top:-44px ;margin-right: 7px;}

     #last{background-color: rgb(55, 194, 55);width: 1350px;
     height: 150px;float: left;margin-top: 60px;}
     
     
